<link href="{pigcms::RES}/images/main.css" type="text/css" rel="stylesheet">
<script src="{pigcms::STATICS}/jquery.min.js" type="text/javascript"></script>
<script src="{pigcms::STATICS}/function.js" type="text/javascript"></script>
<meta http-equiv="x-ua-compatible" content="ie=7" />
</head>
<body class="warp">
<div id="artlist">
	<div class="mod kjnav">
		<volist name="nav" id="vo">
			<a href="{pigcms::U($action.'/'.$vo['name'],array('pid'=>$_GET['pid'],'level'=>3,'title'=>urlencode
($vo['title'])))}">{pigcms:$vo['title']}</a>
			 <if condition="($action eq 'Article') or ($action eq 'Img') or ($action eq 'Text') or ($action eq 'Voiceresponse')"><php>break;</php></if>
		</volist>
	</div>
</div>